:root {
    --text-color: #1A2849;
    --background-color: #fff;
    --primary-color: #5BE47A;
    --background-color--header: #E0E3E9;
    --background-color--todo-content: #F1F3F7;
    --border-color: #979797;
    --border-color--active: #484848;
    --border-radius: 4px;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
label:hover {
    cursor: pointer;
}
body {
    font: 1rem/1.5 'Hind', Arial, Geneva, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
.visuallyhidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}
.wrap {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    padding:0.1em 0.5em;
    border-radius: 4px;
    background: transparent;
    font-weight: bolder;
    color: inherit;
    text-decoration: none;
    transition: 0.1s;
}
.border {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}
.btn:hover,
.btn:focus,
input[type=radio]:checked + label.btn {
    background-image: linear-gradient(264deg, #B1ECD9 1%, #CBFAD6 100%);
    border-color: var(--border-color--active)
}
input[type=checkbox]::before {
    background-image: linear-gradient(264deg, #B1ECD9 1%, #CBFAD6 100%);
    border-color: var(--border-color--active)
}