:root {
    --text-color: #1A2849;
    --background-color: #fff;
    --primary-color: #5BE47A;
    --background-color--header: #E0E3E9;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 1rem/1.5 'Hind', Arial, Geneva, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
