/* --- HEADER --- */
.header {
    background: var(--background-color--header);
}
.header__inner {
    display: flex;
    align-items: flex-start;
    padding: 0.5em 0;
}
.maintitle {
    flex: 1 0 auto;
    font-size: 3em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.theme-switch {
    display: flex;
    overflow: hidden;
}
.theme-switch__label--light:hover,
.theme-switch__label--light:focus {
    background: var(--primary-color);
}
.theme-switch__label--dark {
    background: #1A2849;
    color: #E0E3E9
}
.theme-switch__label--dark:hover,
.theme-switch__label--dark:focus {
    color: var(--primary-color);
}

/* --- APP --- */
.app {
    padding: 2em 0;
}

/* Sort */
.app__sort {
    max-width: 600px;
}
.sort {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
}

/* List */
.app__lst {
    margin: 2em 0;
}