/* --- HEADER --- */
.header {
    background: var(--background-color--header);
}
.header__inner {
    display: flex;
    align-items: flex-start;
    padding: 0.5em 0;
}
.maintitle {
    flex: 1 0 auto;
    font-size: 3em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.theme-switch {
    display: flex;
    overflow: hidden;
}
.theme-switch__label {
    border-radius: 0;
}
.theme-switch__label--light:hover,
.theme-switch__label--light:focus {
    background: var(--primary-color);
}
.theme-switch__label--dark {
    background: #1A2849;
    color: #E0E3E9
}
.theme-switch__label--dark:hover,
.theme-switch__label--dark:focus {
    color: var(--primary-color);
    background: #1A2849;
}

/* --- APP --- */
.app {
    padding: 2em 0;
}

/* Sort */
.app__sort {
    max-width: 600px;
}
.sort {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1em;
}
.sort__show-finished {
    grid-column: 1 / -1;
}

/* List */
.app__lst {
    margin: 2em 0;
}
.todo {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1em;
    list-style-type: none;
}
.todo__heading {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 1em;
    padding: 0.5em;
    background: var(--background-color);
}
.todo__checkbox {
    order: -1
}
.todo__desc {
    position: relative;
    z-index: -1;
    margin-top: calc( var(--border-radius) * -1);
    padding: 2em;
    background: var(--background-color--todo-content)
}